/* GENERAL */

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Arcade';
    src: url('assets/ARCADE.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Arcade', sans-serif;
    font-optical-sizing: auto;
    background-color: #393e41;
}

html {
    scroll-behavior: smooth;
}

p {
    color: #c0fdfb;
}

/* TRANSITION */

a, .btn {
    transition: all 300ms ease;
}

/* DESKTOP NAV */

#desktop-nav {
    background-color: #4f9d69;
}

nav, .nav-links {
    background-color: #4f9d69;
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 15vh;
    border: #080708 0.1rem solid;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 2rem;
}

a {
    background-color: #4f9d69;
    color: #080708;
    text-decoration: none;
    text-decoration-color: #c6ca53;
}

a:hover {
    color: #c0fdfb;
    text-decoration: underline;
    text-underline-offset: 1px;
    text-decoration-color: #c0fdfb;
}

.logo {
    background-color: #4f9d69;
    max-height: 15vh;
    font-size: 2rem;
    font-weight: bolder;
}

.logo:hover {
    cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
    background-color: #4f9d69;
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    background-color: #4f9d69;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: #080708;
    transition: all 0.3 ease-in-out;
}

.menu-links {
    width: 20vw;
    position: absolute;
    top: 100%;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a {
    background-color: #4f9d69;
    display: flex;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: #080708;
    transition: all 0.3 ease-in-out;
    border: #080708 0.1rem solid;
}

.menu-links a:hover {
    color: #c0fdfb;
    text-decoration: underline;
    text-underline-offset: 1px;
    text-decoration-color: #c0fdfb;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:first-child {
    opacity: 1;
}

.hamburger-icon span:first-child {
    transform: none;
}

/* SECTIONS */

section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;
}

/* PROFILE */

#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.section__pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.section__pic-container img {
    background: #393e41;
    border: #080708 0.1rem solid;
    border-radius: 50%;
}

.section__pic-container .about-pic {
    background: #393e41;
    border: #080708 0.1rem solid;
    border-radius: 15%;
}

.freak-container .freak-shot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    max-height: 400px;
    background: #393e41;
    border: #080708 0.1rem solid;
    border-radius: 1rem;
}

.section__text {
    align-self: center;
    text-align: center;
}

.section__text p {
    font-weight: 600;
}

.section__text img {
    cursor: pointer;
    background: #393e41;
}

.section__text__p1 {
    text-align: center;
}

.section__text__p2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.title {
    font-size: 4rem;
    text-align: center;
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/* ICONS */

.icon {
    cursor: default;
    height: 2rem;
}

/* BUTTONS */

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    font-family: 'Arcade', sans-serif;
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 12rem;
    border-radius: 2rem;
}

.btn-color-1, 
.btn-color-2 {
    background-color: #c0fdfb;
    border: #080708 0.1rem solid;
}

.btn-color-1:hover, 
.btn-color-2:hover {
    cursor: pointer;
    background: #c6ca53;
    background-color: #c6ca53;
    color: #080708;
    border: #080708 0.1rem solid;
}

.btn-container {
    gap: 1rem;
}

/* ABOUT SECTION */

#about {
    position: relative;
}

.about-containers {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.about-details-container {
    justify-content: center;
    flex-direction: column;
}

.about-containers, 
.about-details-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.about-pic {
    border-radius: 2rem;
}

.arrow {
    cursor: pointer;
    background: #393e41;
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
}

.details-container {
    padding: 1.5rem;
    flex: 1;
    background: #4f9d69;
    border-radius: 2rem;
    border: #080708 0.1rem solid;
    border-color: #080708;
    text-align: center;
}

.details-container p, img, h3 {
    background: #4f9d69;
}

.section-container {
    gap: 4rem;
    height: 80%;
}

.section__pic-container {
    height: 400px;
    width: 400px;
    margin: auto 0;
}

/* EXPERIENCE SECTION */

#experience {
    position: relative;
}

.experience-sub-title {
    color: #4f9d69;
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.experience-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap; 
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}

.article-container, 
.experience-sub-container, h2, h3, article {
    background: #4f9d69;
    font-size: 1.5rem;
    padding: 10px;
}

article {
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;
}

article .icon {
    cursor: default;
}

/* PROJECTS SECTION */

#projects {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* height: 120vh; */
    margin-bottom: 2rem;
}

.color-container {
    border-color: #4f9d69;
    background: #4f9d69;
    border: #080708 0.1rem solid;
}

.project-img {
    background: #393e41;
    border: #080708 0.1rem solid;
    border-radius: 2rem;
    width: 90%;
    height: 90%;
}

.project-title {
    margin: 1rem;
    color: #080708;
}

.about-containers .details-container .btn-container {
    background: #4f9d69;
}

/* CONTACT */

#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
}

.contact-info-upper-container {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: #080708 0.1rem solid;
    border-color: #080708;
    background: #4f9d69;
    margin: 2rem auto;
    padding: 0.5rem;
}

.contact-info-container, p a {
    background: #4f9d69;
}

.contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}

.contact-info-container p {
    font-size: larger;
}

.contact-icon {
    cursor: pointer;
}

.email-icon {
    cursor: default;
    height: 2.5rem;
}

/* FOOTER */

footer {
    background: #4f9d69;
    height: 26vh;
    /* margin: 0 1rem; */
}

footer p {
    background: #4f9d69;
    text-align: center;
}